<!-- alarm.card.html -->

  <md-card style="width: 300px;">
    <!-- <img ng-src="{{product.images[0]}}" class="md-card-image" alt="user avatar"> -->
    <md-card-content>
      <h2>{{alarm.hours}}</h2>
      <h4>{{alarm.minutes}}</h4>
      <p>{{alarm.AMPM}}</p>
    </md-card-content>
    <div class="md-actions" layout="row" layout-align="end center">
      <!-- <md-button ui-sref="productDetail({productId: product._id})">Details</md-button> -->
      <!-- <md-button ng-click="addToCart(product._id); showAlert($event, product)">Add to Cart</md-button> -->
      <!-- <md-button ng-click="addToCart(product._id); showConfirm($event, product)">Add to Cart</md-button> -->
    </div>
  </md-card>