<div id='home'>
	HELLO WE ARE HOME!!!
	<!-- <div id='time'>
		Time
		{{currentTime.hours}} : {{currentTime.minutes}} : {{currentTime.seconds}}
	</div> -->


	<!-- <div class='inputs'>
		Morning message:
		<textarea id="text" cols="45" rows="3">Hello world this is some text to say</textarea>

		<select id="voiceselection"></select>

		<input onclick="responsiveVoice.speak($('#text').val(),$('#voiceselection').val());" type="button" value="Play" /> -->
			<!-- <button id="isPlaying">Playing:</button>
			<p id="r">?</p> -->

			<script>
				// var voicelist = responsiveVoice.getVoices();
				// var vselect = $("#voiceselection");
				// $.each(voicelist, function() {
				// 	vselect.append($("<option />").val(this.name).text(this.name));
				// });
				// $('#isPlaying').on('click', function() {
				// 	$('#r').text(window.speechSynthesis.speaking)
				// })
			// </script>


			// <form>
			// 	<label>Hours</label>
			// 	<input ng-model="input.hours">
			// 	<label>Minutes</label>
			// 	<input ng-model="input.minutes">
			// 	<label>AM or PM</label>
			// 	<select ng-model="input.AMPM">
			// 		<option value="AM">AM</option>
			// 		<option value="PM">PM</option>
			// 	</select>
			// 	<button type='button' ng-click='createAlarm(input)'>Save alarm!</button>
			// </form>

			// <div class='md-padding' layout="row" layout-wrap>
			// 	<alarm-card ng-repeat="alarm in alarms"></alarm-card>
			// </div>

		// <!-- <div ng-repeat='alarm in alarms'>
		// 	<p>{{alarm.hours}}:{{alarm.minutes}} {{alarm.AMPM}}</p>
		// </div>
		// </container> -->


	// <button ng-click='getTrack()'>Get track</button>
	// SONG!!! <a href={{link}}>{{link}}</a>
	// <button ng-click='getPlaylistTracks()'>Get playlist tracks</button>

<!-- 
	// <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:3rgsDhGHZxZ9sB9DQWQfuf" width="300" height="380" frameborder="0" allowtransparency="true"></iframe> -->
</div>